body {
    background-color: #eee;
}
.emoji-row {
    text-align: center;
    padding: 30px;
}
.emoji-row:hover {
    background-color: #eee;
}
.background-white {
    background-color: white;
    margin-bottom: 30px;
}